{
  "presets": ["razzle/babel"],
  "plugins": [
    ["module-alias", [
      { "src": "./src/client", "expose": "@client" },
      { "src": "./src/server", "expose": "@server" },
      { "src": "./src/ui", "expose": "@ui" }
    ]]
  ]
}