.base {
  margin: 135px auto;
  text-align: center;
  width: 80%;
  font-size: x-large;
  border-radius: 25px;
  border-color: black;
  border: solid;
}

.button {
  margin-bottom: 25px;
  text-align: center;
  font-size: large;
  border-radius: 25px;
  cursor: pointer;
  background-color: #358ED7;
  width: 50%;
  height: 60px;
}

.logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
  margin: 15px;
}

.client {
  background-color: #86939E;
}

.universal {
  background-color: #EEF2F4;
}

.server {
  background-color: #007FB1;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
